<script>
export default {
  name: "AmountInput",
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    value: {
      type: [String, Number],
      default: undefined,
    },
    // 保留几位小数
    decimal: {
      type: Number,
      default: 2,
    },
    placeholder: {
      type: String,
      default: "请输入",
    },
    strict: {
      type: Boolean,
      default: true,
    },
    maxLength: {
      type: [Number, String],
      default: 9999999,
    },
    clearable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      isFocus: false,
    };
  },
  watch: {
    value: {
      handler(val) {
        if (!this.isFocus) {
          this.formatAmount(val);
        }
      },
      immediate: true,
    },
  },
  methods: {
    formatAmount(value) {
      if (this.strict === false && !this.value) return;
      this.$emit("input", Number(value).toFixed(this.decimal));
    },
    handleFocus(...args) {
      this.isFocus = true;
      this.$emit("focus", ...args);
    },
    handleBlur(...args) {
      this.isFocus = false;

      if (this.value?.trim() === this.value) {
        this.formatAmount(this.value);
      } else {
        this.$emit("input", this.value.trim());
      }

      this.$emit("blur", ...args);
    },
    handleInput(value) {
      if (isNaN(Number(value))) {
        this.$emit("input", this.value);
        return;
      }
      this.$emit("input", value);
    },

    // Input Methods
    focus() {
      return this.$refs.elInput.focus();
    },
    blur() {
      return this.$refs.elInput.blur();
    },
    select() {
      return this.$refs.elInput.select();
    },
  },
  render(h) {
    return h(
      "el-input",
      {
        ref: "elInput",
        on: {
          ...this.$listeners,
          focus: this.handleFocus,
          blur: this.handleBlur,
          input: this.handleInput,
        },
        attrs: {
          ...this.$props,
          ...this.$attrs,
        },
        scopedSlots: this.$scopedSlots,
      },
      Object.keys(this.$slots).map((slot) => {
        return h("template", { slot }, this.$slots[slot]);
      })
    );
  },
};
</script>

<style lang="less" scoped></style>
