<template>
  <el-collapse value="1" class="crm-collapse">
    <el-collapse-item name="1">
      <template slot="title">
        <template v-if="$slots.title">
          <slot name="title"></slot>
        </template>
        <span v-else class="crm-collapse-title">{{ title }}</span>
      </template>
      <slot></slot>
    </el-collapse-item>
  </el-collapse>
</template>

<script>
export default {
  name: "CrmCollapse",
  props: {
    title: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="less" scoped>
.crm-collapse + .crm-collapse {
  margin-top: 0;
}
.el-collapse {
  margin: 16px;
  padding: 5px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  /deep/.el-collapse-item__header {
    position: relative;
    height: 36px;
    padding: 0 16px;

    line-height: 24px;

    border-bottom-color: transparent;
    &::after {
      content: "展开";
      position: absolute;
      right: 46px;
      top: 6px;
      color: @primaryColor;
    }
    &.is-active::after {
      content: "收起";
    }

    .el-collapse-item__arrow {
      color: @primaryColor;
      font-size: 16px;
    }

    .crm-collapse-title {
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      font-weight: 500;
    }
  }

  /deep/.el-collapse-item__wrap {
    padding: 0 16px;
    margin-top: 4px;
    border: none;
    border-top: 1px solid #ebeef5;
  }
}
</style>
