// 可单边选择的日期范围

<template>
  <div
    class="crm-date-range"
    @mousemove="showClearIcon = true"
    @mouseleave="showClearIcon = false"
  >
    <el-date-picker
      v-model="form.start"
      type="date"
      :placeholder="placeholder"
      :value-format="format"
      @change="change"
    />
    <span class="separator">至</span>
    <el-date-picker
      v-model="form.end"
      type="date"
      :placeholder="placeholder"
      :value-format="format"
      @change="change"
    />
    <i
      v-if="showClearIcon && (form.start || form.end)"
      class="el-icon-circle-close"
      @click="clear"
    ></i>
  </div>
</template>

<script>
export default {
  name: "CrmDateRange",
  props: {
    start: {
      type: [String, Date],
      default: "",
    },
    end: {
      type: [String, Date],
      default: "",
    },
    format: {
      type: String,
      default: "yyyy-MM-dd",
    },
    placeholder: {
      type: String,
      default: "请选择日期",
    },
  },
  data() {
    return {
      form: {
        start: null,
        end: null,
      },
      showClearIcon: false,
    };
  },
  computed: {
    isEmpty() {
      return !this.start && !this.end;
    },
  },
  watch: {
    isEmpty: {
      handler(val) {
        if (val && (this.form.start || this.form.end)) {
          this.clear();
        }
      },
    },
  },
  methods: {
    clear() {
      this.form.start = null;
      this.form.end = null;
      this.change();
    },
    change() {
      this.$emit("update:start", this.form.start);
      this.$emit("update:end", this.form.end);
      this.$emit("change", this.form);
    },
  },
};
</script>

<style lang="less" scoped>
.crm-date-range {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  .separator {
    margin: 0 5px;
  }
  /deep/.el-date-editor {
    &:first-child {
      width: 111px;
      .el-input__inner {
        padding-right: 0;
      }
      .el-input__suffix {
        display: none;
      }
    }
    &:nth-child(3) {
      width: 113px;
      .el-input__inner {
        padding-left: 4px;
      }
      .el-input__prefix,
      .el-input__suffix {
        display: none;
      }
    }
    .el-input__inner {
      border: none;
    }
  }
  .el-icon-circle-close {
    position: absolute;
    right: 10px;
    color: #c0c4cc;
    cursor: pointer;
  }
}
</style>
