<script>
export default {
  name: "CrmInput",
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    value: {
      type: [String, Number],
      default: "",
    },
    maxlength: {
      type: Number,
      default: 200,
    },
    placeholder: {
      type: String,
      default: "请输入",
    },
    clearable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      isFocus: false,
    };
  },
  watch: {
    value: {
      handler(val) {
        if (!this.isFocus) {
          this.trimValue(val);
        }
      },
      immediate: true,
    },
  },
  methods: {
    trimValue(newValue) {
      if (
        newValue &&
        typeof newValue === "string" &&
        newValue.trim().length !== newValue.length
      ) {
        this.$emit("input", newValue.trim());
      }
    },

    handleFocus(...args) {
      this.isFocus = true;
      this.$emit("focus", ...args);
    },

    handleBlur(...args) {
      this.isFocus = false;
      if (typeof this.value === "string") {
        this.$emit("input", this.value.trim());
      }
      this.$emit("blur", ...args);
    },

    handleInput(value) {
      this.$emit("input", this.lengthValidate(value, this.maxlength));
    },

    lengthValidate(newValue, maxlength) {
      let len = 0;
      for (var i = 0; i < newValue.length; i++) {
        if (newValue.charCodeAt(i) > 127 || newValue.charCodeAt(i) == 94) {
          len += 2;
        } else {
          len++;
        }
        if (len > Number(maxlength)) {
          return newValue.slice(0, i);
        }
      }
      return newValue;
    },

    // Input Methods
    focus() {
      return this.$refs.elInput.focus();
    },
    blur() {
      return this.$refs.elInput.blur();
    },
    select() {
      return this.$refs.elInput.select();
    },
  },
  render(h) {
    return h(
      "el-input",
      {
        ref: "elInput",
        on: {
          ...this.$listeners,
          focus: this.handleFocus,
          blur: this.handleBlur,
          input: this.handleInput,
        },
        attrs: {
          ...this.$props,
          ...this.$attrs,
          maxlength:
            this.$attrs["show-word-limit"] === true ||
            this.$attrs["show-word-limit"] === ""
              ? Math.floor(this.maxlength / 2)
              : this.maxlength,
        },
        scopedSlots: this.$scopedSlots,
      },
      Object.keys(this.$slots).map((slot) => {
        return h("template", { slot }, this.$slots[slot]);
      })
    );
  },
};
</script>

<style lang="less" scoped></style>
