<template>
  <el-select v-bind="{ ...$attrs, value, clearable }" v-on="$listeners">
    <el-option
      v-for="item in options"
      :key="item[valueField]"
      :label="item[labelField]"
      :value="item[valueField]"
    ></el-option>
  </el-select>
</template>

<script>
export default {
  name: "CrmSelect",
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: {
      type: [String, Number],
      default: "",
    },
    clearable: {
      type: Boolean,
      default: undefined,
    },
    options: {
      type: Array,
      default: () => [],
    },
    labelField: {
      type: String,
      default: "value",
    },
    valueField: {
      type: String,
      default: "code",
    },
  },
  computed: {
    defaultValue() {
      if (!this.options?.length) return "";
      return this.options[0][this.valueField];
    },
    shouldSetDefaultVal() {
      return !this.value && this.clearable === false && this.defaultValue;
    },
  },
  watch: {
    defaultValue: {
      handler(val) {
        if (this.shouldSetDefaultVal) {
          this.$emit("change", val);
          this.$emit("initSuc");
        } else if (val) {
          this.$emit("initSuc");
        }
      },
      deep: true,
      immediate: true,
    },
    value: {
      handler() {
        if (this.shouldSetDefaultVal) {
          this.$emit("change", this.defaultValue);
        }
      },
      immediate: true,
    },
    options: {
      handler(val) {
        if (val?.length) {
          if (val.every((c) => c[this.valueField] !== this.value)) {
            this.$emit(
              "change",
              this.shouldSetDefaultVal ? this.defaultValue : null
            );
          }
        }
      },
      deep: true,
      immediate: true,
    },
  },
};
</script>

<style lang="less" scoped></style>
