<template>
  <span
    ref="as-switch"
    class="as-switch"
    v-bind="{ ...$attrs }"
    :class="{
      'as-default': isAddDefaultClass,
      active: checked != undefined && checked,
      inactive: checked != undefined && !checked,
    }"
    :style="
      checked != undefined &&
      `background-color:${checked ? activeColor : inactiveColor}`
    "
    v-on="{ ...$listeners, click: onclick }"
  >
    <span class="text">{{
      checked != undefined && checked ? activeText : inactiveText
    }}</span>
  </span>
</template>

<script>
/**
as-publish,as-visibility,as-online,as-on-off
 */
export default {
  name: "CrmSwitch",
  model: {
    prop: "checked",
    event: "change",
  },
  props: {
    checked: {
      type: [Boolean, Number, String],
      default: () => undefined,
    },
    activeText: {
      type: String,
      default: "",
    },
    inactiveText: {
      type: String,
      default: "",
    },
    activeColor: {
      type: String,
      default: "",
    },
    inactiveColor: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      isAddDefaultClass: false,
    };
  },
  mounted() {
    this.isSetDefaultClass();
  },
  methods: {
    isSetDefaultClass() {
      const classList = Array.prototype.filter.call(
        this.$refs["as-switch"].classList,
        (item) => {
          return item !== "as-switch";
        }
      );
      const asClassList = classList.filter((item) => /^as-/.test(item));
      this.isAddDefaultClass = !asClassList.length;
    },
    submit() {
      const type = typeof this.checked;
      let result = undefined;
      if (type === "number") {
        result = Number(!this.checked);
      } else if (type === "boolean") {
        result = Boolean(!this.checked);
      } else if (type === "string") {
        result = String(Number(!Number(this.checked)));
      }
      this.$emit("change", result);
    },
    onclick() {
      if (!this.$listeners.click) {
        this.submit();
        return;
      }

      const res = this.$listeners.click();

      if (res instanceof Promise) {
        res
          .then(() => {
            this.submit();
          })
          .catch(() => {});
      } else {
        if (res) {
          this.submit();
        }
      }
    },
  },
};
</script>

<style lang="less" scoped>
.as-switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 59px;
  height: 24px;
  line-height: 24px;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  border-radius: 12px;
  box-sizing: border-box;
  user-select: none;
  &.active {
    text-align: left;
    &::before {
      display: block;
      margin-left: 9px;
    }
    &::after {
      position: absolute;
      top: 2px;
      right: 2px;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  &.inactive {
    &::before {
      display: block;
      margin: 2px 0 0 2px;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
    }
    &::after {
      position: absolute;
      top: 0px;
      right: 9px;
    }
  }
}

.as-default {
  &.active {
    background-color: @primaryColor;
    &::before {
      content: "";
    }
  }
  &.inactive {
    background-color: #999999;
    &::after {
      content: "";
    }
  }
}

.as-on-off {
  &.active {
    background-color: #4ad76e;
    &::before {
      content: "启用";
    }
  }
  &.inactive {
    background-color: #c0cbdc;

    &::after {
      content: "停用";
    }
  }
}
</style>
