<!-- 
// 使用方法： 
// query 接收一个函数，该函数返回一个 promise，fulfilled 状态的 promise 中返回的数据格式为 {list:列表数据,total:总数据量} 
// query变化时会自动调用 query 使用初始的 page 和 size 请求接口刷新页面 
// 提供 refreshCurrentPage 用于仅刷新当前页的数据 
// 也可以按 element 的原生用法使用，el-table 的其他功能按文档使用即可 

// 列的配置: 
// 1. 可以按 element-ui 的写法手写每一个 el-column-item 
// 2. 也可以像 ant 中配置 columns，ant 中 column 的 title 和 dataIndex 可以不变（组件内部会对应传给 el-column-item prop 和 label ），也可以按 el-column-item 的配置写成 prop 和 label 
// customRender 传入参数与 ant 中用法一致，而 scopedSlots: { customRender:"XXX" } 等于定义一个名为 XXX 的插槽，插槽直接传入 el-table-column 组件自定义 
-->

<template>
  <div>
    <el-table
      ref="elTalble"
      v-bind="{ data: dataSource, ...$attrs }"
      header-cell-class-name="header-cell"
      v-on="$listeners"
    >
      <slot v-if="!(columns && columns.length)"></slot>
      <template v-else>
        <template v-for="(column, index) in columns">
          <slot
            v-if="
              column.scopedSlots &&
              column.scopedSlots.customRender &&
              $slots[column.scopedSlots.customRender]
            "
            :name="column.scopedSlots.customRender"
          ></slot>
          <el-table-column
            v-else-if="
              column.customRender && typeof column.customRender === 'function'
            "
            :key="index"
            v-bind="{ prop: column.dataIndex, label: column.title, ...column }"
          >
            <template slot-scope="scope">
              {{
                column.customRender(
                  scope.row[column.dataIndex || column.prop],
                  scope.row,
                  scope.$index
                )
              }}
            </template>
          </el-table-column>
          <el-table-column
            v-else
            :key="index"
            v-bind="{ prop: column.dataIndex, label: column.title, ...column }"
          >
          </el-table-column>
        </template>
      </template>
    </el-table>
    <el-pagination
      v-if="pagination"
      class="pagination"
      v-bind="curPagination"
      v-on="{
        'size-change': sizeChangeHandler,
        'current-change': currentChangeHandler,
        ...$listeners,
      }"
    ></el-pagination>
  </div>
</template>

<script>
import DeepClone from "lodash/cloneDeep";
const defaultPagination = {
  layout: "total, prev, pager, next, sizes,jumper",
  background: true,
  pageSizes: [10, 20, 50],
  total: 0,
};

export default {
  name: "CrmTable",
  props: {
    query: {
      type: [Function, undefined],
      default: undefined,
    },
    columns: {
      type: Array,
      default: () => [],
    },
    initPage: {
      type: Number,
      default: () => 1,
    },
    initSize: {
      type: Number,
      default: () => 10,
    },
    pagination: {
      type: [Object, Boolean],
      default: () => defaultPagination,
    },
  },
  data() {
    return {
      dataSource: [],
      curPagination: this.resetPagination(),
    };
  },
  watch: {
    query: {
      handler() {
        this.curPagination = this.resetPagination();
        this.fetch();
      },
      immediate: true,
    },
  },
  methods: {
    fetch() {
      if (typeof this.query === "function") {
        this.query(
          this.curPagination.currentPage,
          this.curPagination.pageSize
        ).then(({ list = [], total = 0 }) => {
          this.dataSource = list;
          const pagination = DeepClone(this.curPagination);
          pagination.total = total;
          this.curPagination = pagination;
        });
      }
    },

    resetPagination() {
      let pagination = {};
      if (this.pagination) {
        if (typeof this.pagination === "object") {
          pagination = DeepClone(this.pagination);
        } else {
          pagination = DeepClone(defaultPagination);
        }
      }

      return {
        currentPage: this.initPage,
        pageSize: this.curPagination?.pageSize || this.initSize,
        ...pagination,
      };
    },

    sizeChangeHandler(pageSize) {
      this.handleTableChange({ pageSize });
    },

    currentChangeHandler(currentPage) {
      this.handleTableChange({ currentPage });
    },

    //分页变化处理方法
    handleTableChange(pagination) {
      this.curPagination = Object.assign({}, this.curPagination, pagination);
      if (pagination.pageSize) {
        const { total, currentPage } = this.curPagination;
        const maxPage = Math.ceil(total / pagination.pageSize);
        if (currentPage > maxPage) return;
      }
      this.$emit("change", this.curPagination);
      this.fetch();
    },

    //以当前分页数据重新请求
    refreshCurrentPage() {
      this.fetch();
    },

    // Table Methods

    clearSelection(...args) {
      return this.$refs.elTalble.clearSelection(...args);
    },

    toggleRowSelection(...args) {
      return this.$refs.elTalble.toggleRowSelection(...args);
    },

    toggleAllSelection(...args) {
      return this.$refs.elTalble.toggleAllSelection(...args);
    },

    toggleRowExpansion(...args) {
      return this.$refs.elTalble.toggleRowExpansion(...args);
    },

    setCurrentRow(...args) {
      return this.$refs.elTalble.setCurrentRow(...args);
    },

    clearSort(...args) {
      return this.$refs.elTalble.clearSort(...args);
    },

    clearFilter(...args) {
      return this.$refs.elTalble.clearFilter(...args);
    },

    doLayout(...args) {
      return this.$refs.elTalble.doLayout(...args);
    },

    sort(...args) {
      return this.$refs.elTalble.sort(...args);
    },
  },
};
</script>

<style lang="less" scoped>
/deep/.el-table__header-wrapper {
  .header-cell {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 500;

    background: rgba(247, 247, 248, 1);
  }
}

.pagination {
  margin-top: 10px;
  text-align: right;
}
</style>
