// 限制输入类型为数字，但不进行数据类型转换，输出数据类型未 Stirng
<script>
export default {
  name: "NumberInput",
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    value: {
      type: [Number, String],
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: "请输入",
    },
    size: {
      type: String,
      default: "",
    },
    maxLength: {
      type: Number,
      default: 100,
    },
    clearable: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    handleInput(value) {
      const newValue = value.replace(/\D/g, "");
      if (newValue !== this.value) {
        this.$emit("input", newValue.length ? newValue : "");
      }
    },

    // Input Methods
    focus() {
      return this.$refs.elInput.focus();
    },
    blur() {
      return this.$refs.elInput.blur();
    },
    select() {
      return this.$refs.elInput.select();
    },
  },
  render(h) {
    return h(
      "el-input",
      {
        ref: "elInput",
        on: {
          ...this.$listeners,
          input: this.handleInput,
        },
        attrs: {
          ...this.$props,
          ...this.$attrs,
        },
        scopedSlots: this.$scopedSlots,
      },
      Object.keys(this.$slots).map((slot) => {
        return h("template", { slot }, this.$slots[slot]);
      })
    );
  },
};
</script>

<style></style>
