<template>
  <crm-input
    v-bind="{ ...$attrs, ...$props, value: insideValue }"
    v-on="{
      ...$listeners,
      focus: handleFocus,
      blur: handleBlur,
      input: handleInput,
    }"
    ><template slot="append">%</template>
  </crm-input>
</template>

<script>
export default {
  name: "PercentInput",
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    value: {
      type: [String, Number],
      default: 0,
    },
    // 保留几位小数
    decimal: {
      type: Number,
      default: 2,
    },
    clearable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      isFocus: false,
      insideValue: "0.00",
    };
  },
  watch: {
    value: {
      handler(val) {
        if (!this.isFocus) {
          if (!isNaN(Number(val))) {
            this.setInsideValue(val);
          } else {
            this.$emit("input", 0);
          }
        }
      },
      immediate: true,
    },
  },
  methods: {
    setInsideValue(value) {
      this.insideValue = (Number(value) * 100).toFixed(2);
    },
    updateValue(value) {
      this.insideValue = value;
      this.$emit("input", this.fixAccuracy(Number(value) / 100, 4));
    },
    handleFocus(...args) {
      this.isFocus = true;
      this.$emit("focus", ...args);
    },
    handleBlur(...args) {
      this.isFocus = false;
      this.setInsideValue(this.value);
      this.$emit("blur", ...args);
    },
    handleInput(value) {
      // NaN
      if (isNaN(Number(value))) {
        this.setInsideValue(this.value);
        return;
      }

      const index = value.indexOf(".");
      if ((index > -1) & (index < value.length - 3) || Number(value) > 100) {
        return;
      }

      this.updateValue(value);
    },

    //修复精度丢失
    fixAccuracy(value, decimalDigits) {
      //借用 toFixed 四舍五入的功能解决精度丢失问题并保留小数点后指定位数
      return Number(Number(value).toFixed(decimalDigits));
    },
  },
};
</script>

<style lang="less" scoped></style>
