<template>
  <div class="layout-header">
    <i
      v-if="!hideCollapse"
      class="collapse-icon iconfont"
      :class="isCollapse ? 'icon-unfold' : 'icon-fold'"
      @click="onClickCollapseIcon"
    ></i>
    <header-menu ref="headerMenu" :top-menu="topMenuDict" />
    <user-dropdown />
  </div>
</template>

<script>
import { mapState } from "vuex";

import Logo from "@/assets/imgs/logo.png";
import LogoHand from "@/assets/imgs/logo_hand.png";

import UserDropdown from "./components/UserDropdown.vue";
import HeaderMenu from "./components/HeaderMenu.vue";

export default {
  name: "LayoutHeader",
  components: { UserDropdown, HeaderMenu },
  props: {
    isCollapse: {
      type: Boolean,
      default: false,
    },
    hanlderCollapse: {
      type: Function,
      default: () => new Function(),
    },
    hideCollapse: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      Logo,
      LogoHand,
    };
  },
  computed: {
    ...mapState("dictStore", {
      topMenuDict: (state) => state.topMenu,
    }),
  },
  methods: {
    onClickCollapseIcon() {
      this.hanlderCollapse();
      setTimeout(() => {
        this.$refs.headerMenu.resizeHanlder();
      }, 300);
    },
  },
};
</script>

<style lang="less" scoped>
.layout-header {
  position: relative;
  z-index: 9;
  display: flex;
  // align-items: center;
  width: 100%;
  height: 48px;
  padding-right: 30px;

  line-height: 48px;
  text-align: center;

  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 12px 0 rgba(31, 116, 255, 0.12);

  .collapse-icon {
    font-size: 20px;
    color: #365280;
    margin: 0 17px;
    cursor: pointer;
  }
}
</style>
