<template>
  <menu-item-wrap :key="key" :data="data" @click.native="onClickItem">
    <el-menu-item
      :class="{
        'is-child': level > 1,
        'not-child': !(level > 1),
        'is-collapse': isCollapse,
      }"
      :index="key"
    >
      <i :class="data.icon" class="menu-icon"></i>
      <template slot="title">
        <span class="title">{{ data.title }}</span>
      </template>
    </el-menu-item>
  </menu-item-wrap>
</template>

<script>
export default {
  name: "MenuItem",
  inject: ["setCurrentActive"],
  props: {
    data: {
      type: Object,
      default: () => new Object(),
    },
    index: {
      type: Number,
      default: 0,
    },
    parentKey: {
      type: String,
      default: "0",
    },
    isCollapse: {
      type: Boolean,
      default: () => false,
    },
  },
  computed: {
    key() {
      return `${this.parentKey}-${this.index + 1}`;
    },
    level() {
      return this.key.split("-").length - 1;
    },
    isActive() {
      const fullPath = this.$route.fullPath;
      const path = this.data.path;
      return (
        fullPath === path ||
        (path && fullPath && fullPath.split("/")[1] === path.split("/")[1])
      );
    },
  },
  watch: {
    isActive: {
      handler(val) {
        if (val) {
          this.setCurrentActive(this.key);
        }
      },
      immediate: true,
    },
  },
  methods: {
    onClickItem() {
      this.setCurrentActive(this.key);
    },
  },
};
</script>

<style lang="less" scoped></style>
