<template>
  <a v-if="data.href" :href="data.href"><slot></slot></a>
  <router-link v-else :to="data.path">
    <slot></slot>
  </router-link>
</template>

<script>
export default {
  name: "MenuItemWrap",
  props: {
    data: {
      type: Object,
      default: () => new Object(),
    },
  },
};
</script>

<style></style>
