<template>
  <el-submenu :key="key" :index="key" :class="{ 'is-child-active': isActive }">
    <template slot="title">
      <i :class="data.icon"></i>
      <span>{{ data.title }}</span>
    </template>

    <template v-for="(item, childIndex) in data.submenus">
      <sub-menu
        v-if="item.submenus && item.submenus.length"
        :key="childIndex"
        :data="item"
        :index="childIndex"
        :parent-key="key"
        :current-active="currentActive"
      />
      <menu-item
        v-else
        :key="childIndex"
        :data="item"
        :index="childIndex"
        :parent-key="key"
        :is-collapse="isCollapse"
      />
    </template>
  </el-submenu>
</template>

<script>
export default {
  name: "SubMenu",
  props: {
    data: {
      type: Object,
      default: () => new Object(),
    },
    index: {
      type: Number,
      default: 0,
    },
    currentActive: {
      type: String,
      default: "",
    },
    parentKey: {
      type: String,
      default: "0",
    },
    isCollapse: {
      type: Boolean,
      default: () => false,
    },
  },
  computed: {
    key() {
      return `${this.parentKey}-${this.index + 1}`;
    },
    isActive() {
      return new RegExp(`^${this.key}`).test(this.currentActive);
    },
  },
  mounted() {
    this.$children[0].$parent = this.$parent;
  },
};
</script>

<style lang="less" scoped></style>
