// 默认宽度
// @labelWidth: 140px;
@contentWidth: 220px;

// 列表搜索条件内容宽度
@searchFormContentWidth: 250px;

@verticalItemSpace: 150px;

.el-form-item {
  margin-bottom: 16px;
}

.el-form-item__label {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: 500;

  &::after {
    content: ":";
    margin-left: 3px;
    margin-right: 8px;
  }
}

.el-form-item__content {
  .el-select {
    width: 100%;
  }
}

.el-form--label-top,
.vertical-form {
  & > .el-form-item {
    & > .el-form-item__label {
      width: auto;
      height: 17px;
      line-height: 17px;
      margin-bottom: 6px;
      padding: 0;
    }
  }

  .el-form-item__error {
    padding-top: 0;
    top: auto;
  }
}

// 列表搜索条件表单
.search-form {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  margin-top: 25px;
  white-space: nowrap;
  .el-form-item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    .el-form-item__label {
      transform: translateX(15px);
    }
    .el-form-item__content {
      width: @searchFormContentWidth;
      .el-date-editor--daterange.el-input__inner {
        width: @searchFormContentWidth;
        .el-range-input {
          width: 80px;
        }
      }
    }
  }
  .operation {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .range-input {
    display: flex;
    & > span {
      margin: 0 5px;
    }
  }
}

.vertical-form {
  .el-form-item {
    display: inline-block;
    vertical-align: top;
    margin-right: @verticalItemSpace;
    .el-form-item__content {
      width: @contentWidth;
    }
  }
}

.info-form {
  .el-form-item__label {
    width: auto;
    padding-right: 0;
  }
  .el-form-item {
    display: inline-block;
    vertical-align: top;
    width: calc(@verticalItemSpace + @contentWidth);
    margin-bottom: 0;
    .el-form-item__content {
      width: auto;
    }
  }
}
