@import "./iconfont/index.less";
@import "./form.less";

body {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: @primaryColor;
  cursor: pointer;
  outline: none;
}

.page-footer-operation {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
}

.el-popover {
  min-width: 20px;
}

.el-table {
  max-width: 100%;
}

.el-input.is-disabled .el-input__inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #999;
  cursor: not-allowed;
}

.cell.el-tooltip {
  box-sizing: content-box;
}
