<template>
  <el-menu
    :default-active="currentActive"
    class="el-menu-box"
    :collapse="isCollapse"
    :collapse-transition="true"
  >
    <div v-if="!isCollapse" class="logo">
      <img :src="Logo" alt="" />
    </div>
    <div v-else class="logo-hand">
      <img :src="LogoHand" alt="" />
    </div>
    <template v-for="(item, index) in menu">
      <sub-menu
        v-if="item.submenus && item.submenus.length"
        :key="index"
        :data="item"
        :index="index"
        :current-active="currentActive"
        :is-collapse="isCollapse"
      />
      <menu-item
        v-else
        :key="index"
        :is-collapse="isCollapse"
        :data="item"
        :index="index"
      />
    </template>
  </el-menu>
</template>

<script>
import Logo from "@/assets/imgs/logo.png";
import LogoHand from "@/assets/imgs/logo_hand.png";
export default {
  name: "Sider",
  props: {
    isCollapse: {
      type: Boolean,
      default: () => false,
    },
    menu: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      currentActive: "",
      Logo,
      LogoHand,
    };
  },
  provide() {
    return {
      setCurrentActive: this.setCurrentActive,
    };
  },
  methods: {
    setCurrentActive(value) {
      this.currentActive = value;
    },
  },
};
</script>

<style lang="less" scoped>
.el-menu-box {
  width: 200px;
  user-select: none;
  border: none;
  &.el-menu--collapse {
    width: 64px;
  }
  .logo,
  .logo-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    cursor: pointer;
  }
  .logo {
    width: 200px;
    img {
      width: 129px;
      height: auto;
    }
  }

  .logo-hand {
    width: 64px;
    img {
      width: 21px;
      height: auto;
    }
  }
}
</style>
