<template>
  <div class="welcome-container">
    <div class="left">欢迎使用CRM系统-标准项目订单</div>
    <img class="right" :src="Welcome" alt="" />
  </div>
</template>

<script>
import Welcome from "@/assets/imgs/welcome.png";
export default {
  name: "Welcome",
  data() {
    return {
      Welcome,
    };
  },
};
</script>

<style lang="less" scoped>
.welcome-container {
  flex: 1;
  display: flex;
  margin: 16px;
  padding-top: 150px;

  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  .left {
    width: 460px;
    height: 420px;
    padding-top: 250px;

    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);

    box-sizing: border-box;
  }
  .right {
    width: 620px;
    height: 420px;
  }
}
</style>
