@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=8014315ceacf640cb8e4882fc210e914");
  src: url("iconfont.eot?t=8014315ceacf640cb8e4882fc210e914#iefix")
      format("embedded-opentype"),
    url("iconfont.woff?t=8014315ceacf640cb8e4882fc210e914") format("woff2"),
    url("iconfont.woff?t=8014315ceacf640cb8e4882fc210e914") format("woff"),
    url("iconfont.ttf?t=8014315ceacf640cb8e4882fc210e914") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-project:before {
  content: "\e001";
}
.icon-upload:before {
  content: "\e002";
}
.icon-search:before {
  content: "\e005";
}
.icon-hand:before {
  content: "\e006";
}
.icon-logo:before {
  content: "\e007";
}
.icon-fold:before {
  content: "\e009";
}
.icon-unfold:before {
  content: "\e00b";
}
.icon-supplier:before {
  content: "\e00c";
}
.icon-arrow:before {
  content: "\e00d";
}
.icon-edit:before {
  content: "\e00f";
}
.icon-pic-avatar:before {
  content: "\e010";
}
.icon-add:before {
  content: "\e011";
}
.icon-delete:before {
  content: "\e012";
}
.icon-alert:before {
  content: "\e013";
}
.icon-close-circle:before {
  content: "\e014";
}
.icon-download:before {
  content: "\e015";
}
