<template>
  <div class="panel-container">
    <div v-if="title || $slots.title" class="panel-title-container">
      <div
        v-if="title"
        class="panel-title"
        :class="{ flex: showBackBtn || $slots['title-button'] }"
      >
        <span>{{ title }}</span>
        <a v-if="showBackBtn" @click="$router.go(-1)">返回</a>
        <slot v-else-if="$slots['title-button']" name="title-button"></slot>
      </div>
      <slot v-else-if="$slots.title" name="title"></slot>
    </div>
    <div class="content" :class="{ 'content-border': title || $slots.title }">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "CrmPanel",
  props: {
    title: {
      type: String,
      default: "",
    },
    showBackBtn: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="less" scoped>
.panel-container {
  margin: 16px;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 16px 0 rgba(218, 223, 230, 0.5);
  .panel-title-container {
    height: 46px;
    padding: 0 20px;
    border-bottom: 1px solid #e4e7eb;

    line-height: 46px;
    box-sizing: border-box;
    .panel-title {
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      font-weight: 500;
    }
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    /deep/ .el-tabs__nav-wrap::after {
      display: none;
    }
  }

  .content {
    padding: 20px;
    box-sizing: border-box;
  }
  // .content-border {
  // }
}
.panel-container + .panel-container {
  margin-top: 0;
}
</style>
