<template>
  <el-tabs v-if="tabs.length" :value="curTab">
    <el-tab-pane
      v-for="item in tabs"
      :key="item.value"
      :name="item.value"
      disabled
    >
      <router-link slot="label" :to="item.value">{{ item.label }}</router-link>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
export default {
  name: "CrmTabs",
  props: {
    tabs: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    curTab() {
      return this.$route.path;
    },
  },
};
</script>
<style lang="less" scoped>
/deep/.el-tabs__active-bar {
  transition: none;
}
</style>
