<template>
  <crm-select
    v-bind="{ ...config, ...$attrs }"
    placeholder="请选择"
    v-on="$listeners"
  />
</template>

<script>
export default {
  name: "DictSelect",
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    dictName: {
      type: String,
      required: true,
    },
  },
  computed: {
    config() {
      return (
        this.$store.state.dictStore[this.dictName] ||
        this.$store.getters["dictStore/" + this.dictName]
      );
    },
  },
};
</script>

<style></style>
