<template>
  <keep-alive v-if="$route.meta.keepAlive" :key="$route.fullPath">
    <router-view />
  </keep-alive>
  <router-view v-else :key="$route.fullPath" />
</template>

<script>
export default {
  name: "EmptyPath",
};
</script>
