<template>
  <div v-if="breadcrumbArr.length" class="breadcrumb-container">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>
        <router-link class="breadcrumb-link" to="/"> 首页 </router-link>
      </el-breadcrumb-item>
      <el-breadcrumb-item
        v-for="(item, index) in breadcrumbArr"
        :key="index"
        :class="{ active: index === breadcrumbArr.length - 1 }"
      >
        <router-link
          v-if="index < breadcrumbArr.length - 1"
          class="breadcrumb-link"
          :to="item.path"
        >
          {{ item.meta.breadcrumb }}
        </router-link>
        <template v-else>{{ item.meta.breadcrumb }}</template>
      </el-breadcrumb-item>
    </el-breadcrumb>
    <div v-if="proNumber && proName && notInList" class="info">
      <span class="title">{{ lastBreadcrumbItem.meta.breadcrumb }}</span>
      <span class="item"
        >项目编号：<a>{{ proNumber }}</a></span
      >
      <span class="item">项目名称：{{ proName }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Breadcrumb",
  computed: {
    notInList() {
      return (
        this.matched.length === this.breadcrumbArr.length ||
        (this.lastBreadcrumbItem && this.lastBreadcrumbItem.meta.isListPage)
      );
    },
    matched() {
      return this.$route.matched || [];
    },
    breadcrumbArr() {
      let result = [];
      const matched = this.$route.matched;

      for (let i = 0; i < matched.length; i++) {
        let breadcrumb = matched[i]?.meta?.breadcrumb;
        if (!breadcrumb) break;
        result.push(matched[i]);
      }

      return result;
    },
    lastBreadcrumbItem() {
      return this.breadcrumbArr.length
        ? this.breadcrumbArr[this.breadcrumbArr.length - 1]
        : null;
    },

    proNumber() {
      return this.$route.query.proNumber;
    },
    proName() {
      return this.$route.query.proName;
    },
  },
};
</script>

<style lang="less" scoped>
.breadcrumb-container {
  width: 100%;
  line-height: 48px;
  padding: 0 16px;

  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(218, 223, 230, 1);
  box-sizing: border-box;
  .breadcrumb-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
  }
  /deep/.el-breadcrumb {
    line-height: 48px;
    .active .el-breadcrumb__inner {
      color: rgba(0, 0, 0, 0.85);
    }
  }

  .info {
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 400;

    .title {
      margin-right: 40px;

      color: rgba(0, 0, 0, 0.85);
      font-size: 18px;
      font-weight: 700;
    }
    .pro-num {
      // color: rgba(0, 102, 255, 1);
      font-weight: 900;
    }
    .item + .item {
      margin-left: 30px;
    }
  }
}
</style>
