<template>
  <keep-alive :include="['Layout']">
    <router-view />
  </keep-alive>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "APP",
  computed: {
    ...mapState("dictStore", {
      isFinance: (state) => state.isFinance,
    }),
  },
  created() {},
};
</script>

<style></style>
