<template>
  <div class="login-container">
    <div class="form">
      <img class="logo" :src="Logo" alt="logoCrm" />
      <div class="welcome">欢迎登录</div>

      <el-form ref="elform" :model="form" :rules="rules">
        <el-form-item prop="username">
          <crm-input v-model="form.username" class="login-input" />
        </el-form-item>
        <el-form-item prop="password">
          <crm-input
            v-model="form.password"
            type="password"
            class="login-input"
            show-password
            @keyup.enter.native="onClickLogin"
          />
          <div class="forget-pwd">忘记密码？</div>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" class="login-btn" @click="onClickLogin"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </div>
    <img class="login-bg" :src="loginImg" alt="login" />
  </div>
</template>

<script>
import loginImg from "@/assets/imgs/login.png";
import Logo from "@/assets/imgs/logo.png";

import { fetchData, optionsInit } from "@/utils";
import { login } from "@/api/auth";

import { mapActions } from "vuex";
import { actions } from "@/store/modules/authStore";

export default {
  name: "Login",
  data() {
    return {
      Logo,
      loginImg,
      form: {
        username: "",
        password: "",
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "change" },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "change" },
        ],
      },
    };
  },
  methods: {
    ...mapActions("authStore", [actions.UPDATE_USER_INFO]),
    onClickLogin() {
      this.$refs.elform.validate().then(() => {
        fetchData(login, this.form).then((data) => {
          optionsInit();
          this.updateUserInfo(data);
          this.$router.push({ path: "/" });
        });
      });
    },
  },
};
</script>

<style lang="less" scoped>
.login-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  padding-top: 100px;

  background: linear-gradient(to bottom, #f9fbfe 20%, #ffffff 100%);
  box-sizing: border-box;
  .form {
    width: 480px;
    height: 560px;
    padding: 70px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    .logo {
      width: 143px;
      margin-bottom: 30px;
    }

    .welcome {
      line-height: 39px;
      font-size: 26px;
      color: #222222;
      margin-top: 0.67em;
      margin-bottom: 40px;
    }

    .el-form-item {
      position: relative;
      .forget-pwd {
        position: absolute;
        right: 0;
        top: 36px;

        color: @primaryColor;
      }
    }

    /deep/.login-input {
      input {
        width: 340px;
        height: 32px;
        line-height: 32px;
        background-color: #e8f0fe;
      }
    }
    .login-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 6px;
      width: 100%;
      height: 32px;
      margin-top: 20px;
    }
  }

  .login-bg {
    width: 480px;
    height: 520px;
    margin-top: 20px;
    //   background: #fff;
    //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    // box-sizing: border-box;
  }
}
</style>
