<template>
  <div class="header-menu">
    <a
      v-for="(item, index) in showList"
      :key="index"
      class="header-menu-item"
      :class="{ active: item.active }"
      :href="item.href"
    >
      {{ item.title }}
    </a>

    <el-dropdown v-if="hideList.length" placement="top-start">
      <span class="el-dropdown-link" :class="{ active: activeItemInHideList }"
        >···</span
      >
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item v-for="(item, index) in hideList" :key="index">
          <a
            class="dropdown-link"
            :class="{ active: item.active }"
            :href="item.href"
          >
            {{ item.title }}
          </a>
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {
  name: "HeaderMenu",
  props: {
    topMenu: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      showList: [],
      hideList: [],
    };
  },
  computed: {
    activeItemInHideList() {
      return this.hideList.some((c) => c.active);
    },
  },
  watch: {
    topMenu: {
      handler(val) {
        if (val && val.length) {
          this.resizeHanlder();
        }
      },
      immediate: true,
    },
  },
  mounted() {
    window.addEventListener("resize", this.resizeHanlder);
    this.$once("hook:beforeDestroy", () =>
      window.removeEventListener("resize", this.resizeHanlder)
    );
  },
  methods: {
    resizeHanlder() {
      this.showList = this.topMenu;
      this.hideList = [];
      this.$nextTick(() => {
        const headerMenu = document.querySelector(".header-menu");
        const headerMenuItems = document.querySelectorAll(".header-menu-item");

        const parentWidth = headerMenu.offsetWidth;
        let i;
        let acc = 0;
        for (i = 0; i < headerMenuItems.length; i++) {
          acc += headerMenuItems[i].offsetWidth;
          if (acc + 100 >= parentWidth) {
            break;
          }
        }
        this.showList = this.topMenu.slice(0, i);
        this.hideList = this.topMenu.slice(i);
      });
    },
  },
};
</script>

<style lang="less" scoped>
.header-menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  .header-menu-item {
    height: 48px;
    padding: 0 20px;

    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    &:hover,
    &.active {
      color: @primaryColor;
      border-bottom: 2px solid @primaryColor;
      box-sizing: border-box;
    }
  }
  .el-dropdown-link {
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    &.active {
      color: @primaryColor;
      border-bottom: 2px solid @primaryColor;
      box-sizing: border-box;
    }
  }
}
.el-dropdown-menu__item {
  padding: 0;
  .dropdown-link {
    display: inline-block;
    width: 100%;
    min-width: 100px;
    color: rgba(0, 0, 0, 0.65);
    padding: 0 20px;
    box-sizing: border-box;
    &.active {
      color: @primaryColor;
      background-color: #ecf5ff;
    }
  }
}
</style>
