<template>
  <el-dropdown placement="top">
    <div class="user-dropdown">
      <img class="avatar" :src="Avatar" alt="" />
      <span :title="userInfo.cname" class="user-name">
        {{ userInfo.cname }}
      </span>
      <i class="iconfont icon-arrow"></i>
    </div>
    <el-dropdown-menu slot="dropdown" class="el-dropdown-menu">
      <el-dropdown-item @click.native="logout">退出登录</el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
import { loginOut } from "@/utils";
import { mapActions, mapState } from "vuex";
import { actions } from "@/store/modules/authStore";

import Avatar from "@/assets/imgs/avatar.png";
export default {
  name: "UserDropdown",
  data() {
    return {
      Avatar,
    };
  },
  computed: {
    ...mapState("authStore", {
      userInfo: (state) => state.userInfo,
    }),
  },
  methods: {
    ...mapActions("authStore", [actions.UPDATE_USER_INFO]),
    logout() {
      this.updateUserInfo(null);
      loginOut();
    },
  },
};
</script>

<style lang="less" scoped>
.el-dropdown-menu__item {
  word-break: keep-all;
}
.el-dropdown-menu {
  margin: 0;
  padding: 0;
}
.user-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  .user-name {
    padding: 0 12px 0 5px;
    vertical-align: middle;
  }
  .avatar {
    width: 26px;
  }
}
</style>
