<template>
  <div class="layout">
    <sider class="layout-sider" :is-collapse="isCollapse" :menu="menu"></sider>
    <div
      class="layout-body"
      :style="`width:calc(100vw - ${isCollapse ? 64 : 220}px)`"
    >
      <layout-header
        :is-collapse="isCollapse"
        :hanlder-collapse="hanlderCollapse"
      />
      <breadcrumb />
      <keep-alive :include="keepAliveList">
        <router-view :key="$route.fullPath" />
      </keep-alive>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

import LayoutHeader from "./LayoutHeader";
import Breadcrumb from "./Breadcrumb";
import Sider from "./Sider";

import routes from "@/router/routes";

const listRoutes = [];
const keepAliveList = [];

routes.forEach((item) => {
  if (item?.meta?.isListPage && !item.children?.length) {
    listRoutes.push(item);
  } else if (item.children?.length) {
    item.children.forEach((c) => {
      if (c?.meta?.isListPage && !c.children?.length) {
        listRoutes.push(c);
      }
    });
  }
});

Promise.all(listRoutes.map((item) => item.component())).then((data) => {
  data.forEach((c) => {
    keepAliveList.push(c?.default?.name);
  });
});

export default {
  name: "Layout",
  components: {
    LayoutHeader,
    Breadcrumb,
    Sider,
  },
  data() {
    return {
      isCollapse: false,
      custom_event: null,
      keepAliveList,
    };
  },
  computed: {
    ...mapState("siderMenuStore", {
      menu: (state) => state.menu,
    }),
    ...mapState("dictStore", {
      isFinance: (state) => state.isFinance,
    }),
  },
  mounted() {
    this.custom_event = document.createEvent("HTMLEvents");
    this.custom_event.initEvent("resize", false, true);
  },
  methods: {
    hanlderCollapse() {
      this.isCollapse = !this.isCollapse;
      setTimeout(() => {
        window.dispatchEvent(this.custom_event);
      }, 300);
    },
  },
};
</script>

<style lang="less" scoped>
.layout {
  overflow-x: hidden;
  display: flex;
  min-width: 1320px;
  min-height: 100vh;

  background-color: #f5f7f9;
  .layout-sider {
    position: relative;
    z-index: 10;
    flex: none;
    max-width: 200px;
    box-shadow: 2px 0 16px 0 rgba(31, 116, 255, 0.12);
  }
  .layout-body {
    position: relative;
    z-index: 9;
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
</style>
